* {
    margin: 0;
    padding: 0;
}


html, body {
    overflow: hidden;
    font-size: 16px;
    cursor : pointer;
}


#view {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow: hidden;
    cursor: pointer;
}
#view canvas {
    width: 100%;
    height: 100%;
}


#media {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}

#navbar{
    list-style-type: none;
    background-color: #090b0c;
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;

}

li { 
  float: left;
  caret-color: transparent;
  width: 20%;
}

li  label { /* all pages, top tab word labels */ /*adjusted!*/
  display: block;
  color: white;
  text-align: center;
  padding: 1.6vh 1.6vw;
  text-decoration: none;
  white-space: nowrap;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
}

label:hover
{
    background-color: #111111;
}


.progress-bar-container
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(4, 26, 64, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}

#progress-bar
{
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

label
{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
