* {
    margin: 0;
    padding: 0;
}


html, body {
    overflow: hidden;
    font-size: 16px;
    cursor : pointer;
}


#view {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow: hidden;
    cursor: pointer;
}
#view canvas {
    width: 100%;
    height: 100%;
}


#media {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}

.progress-bar-container
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(4, 26, 64, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}

#progress-bar
{
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

label
{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
